<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adl.roses" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.adl.roses.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.adl.roses.RoseActivity"
            android:label="@string/title_activity_rose" >
        </activity>
        <activity
            android:name="org.adl.roses.PruningActivity"
            android:label="@string/title_activity_pruning" >
        </activity>
        <activity
            android:name="org.adl.roses.DeadHeadingActivity"
            android:label="@string/title_activity_dead_heading" >
        </activity>
        <activity
            android:name="org.adl.roses.ShearingActivity"
            android:label="@string/title_activity_shearing" >
        </activity>
        <activity
            android:name="org.adl.roses.HybridsActivity"
            android:label="@string/title_activity_hybrids" >
        </activity>
        <activity
            android:name="org.adl.roses.FloristryActivity"
            android:label="@string/title_activity_floristry" >
        </activity>
        <activity
            android:name="org.adl.roses.SymbolismActivity"
            android:label="@string/title_activity_symbolism" >
        </activity>
    </application>

</manifest>
